.main {
    background: 
    radial-gradient(circle at 30% 30%, rgba(37, 99, 235, 0.4), transparent 70%),
    radial-gradient(circle at 70% 70%, rgba(30, 64, 175, 0.5), transparent 70%),
    linear-gradient(135deg, #2563EB 0%, #1E40AF 100%);
    height: 100vh;
}
.invalido {
    z-index: 9999;
  background-color: red;
  width: 300px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  color: #060c2e;
  font-weight: bold;
  position: absolute;
  top: 90px;
  animation: flutuar 3s ease-in-out infinite;
  text-align: center;
  left: calc(50% - 155px);
  margin-top: 70px;
}

.div_sucesso {
    z-index: 9999;
  background-color:rgb(21, 216, 21);
  width: 300px;
  left: calc(50% - 155px);
  text-align: center;
  padding: 20px;
  top: 90px;
  border-radius: 10px;
  color: #060c2e;
  font-weight: bold;
  position: absolute;
  top: 90px;
  animation: flutuar 3s ease-in-out infinite;
  text-align: center;
}
@keyframes flutuar  {
    0% {
        transform: translateY(0);
    } 50% {
        transform: translateY(-15px);
    } 100% {
        transform: translateY(0);
    }
}
 
.carregar {
   width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: absolute;
    z-index: 9999;
}
.span {
    width: 60px;
    height: 60px;
    background-color: transparent;
    border-radius: 50%;
    border: 12px solid rgb(48, 141, 218);
    display: block;
    animation: loading 1s linear infinite;
    border-top: 12px solid transparent;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    } 100% {
        transform: rotate(360deg);
    }
}

