* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CARD */
.card {
  width: 360px;
  padding: 28px;
  border-radius: 20px;
  background: linear-gradient(135deg, #c5b8b8 0%, #f0f5ff 100%);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  text-align: center;
  z-index: 1;
  position: relative;
}

/* TÍTULO */
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #1f2f70;
  margin-bottom: 30px;
}

/* SUB */
.subTitle {
  margin-top: 10px;
  margin-bottom: 28px;
}

.subTitle p {
  color: #6b7fd7;
  font-size: 14px;
}

/* INPUTS */
.login {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login input {
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #b7c3ff;
  outline: none;
  font-size: 14px;
}

/* BOTÃO */
.btn {
  margin-top: 20px;
}

.btn button {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: #2b4cff;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

/* LINKS */
.forgot {
  display: flex;
  justify-content: flex-end;
  margin: 15px 0;
  font-size: 14px;
  color: #4a5fd1;
  text-decoration: none;

}
.forgot:hover {
  text-decoration: underline;
}

.create {
  font-size: 14px;
  color: #060c2e;
}

.create a {
  color: #2b4cff;
  font-weight: bold;
  text-decoration: none;
}
.create a:hover {
  text-decoration: underline;
}

/* RODAPÉ */
.dados {
  background: #060c2e;
  color: #cfd6ff;
  padding: 20px;
  text-align: center;
}

.contato {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 14px;
}

.contato span {
  display: flex;
  align-items: center;
  gap: 6px;
}
.enviado {
  margin: 0 auto;
  height: 100%;
  z-index: 9999;
  background-color: rgb(16, 189, 16);
  width: 300px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  color: #060c2e;
  font-weight: bold;
  position: relative;
  top: 90px;
  animation: flutuar 3s ease-in-out infinite;
}

@keyframes flutuar  {
  0% {
    transform: translateY(0);
  } 50% {
    transform: translateY(-15px);
  } 100% {
    transform: translateY(0);
  }
}