
.background {
    background: 
    radial-gradient(circle at 30% 30%, rgba(37, 99, 235, 0.4), transparent 70%),
    radial-gradient(circle at 70% 70%, rgba(30, 64, 175, 0.5), transparent 70%),
    linear-gradient(135deg, #2563EB 0%, #1E40AF 100%);
    min-height: 90vh;
}
.dados {
  background: #060c2e;
  color: #cfd6ff;
  padding: 20px;
  text-align: center;
  min-height: 10vh;
}

.nav {
  width: 100%;
  width: 100%;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  background-color: #2563EB;
  padding: 20px 30px;
  box-shadow: 0px 2px 5px black;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: bold;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.bnt_sair {
  position: relative;
  text-align: center;
  bottom: 5px;
  background-color: rgb(223, 37, 37);
  color: white;
  border: none;
  transition: transform 0.3   s ease;
}
.bnt_sair:hover {
  transform: scale(1.04);
}
.links_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.items {
  text-decoration: none;
  position: relative;
  color: white
}
.lista {
  list-style-type: none;
}
.items::after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}
.items:hover::after {
  width: 100%;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
.heroText {
  padding-left: 30px;
}
.heroText h1 {
  font-size: 42px;
  margin-bottom: 12px;
}

.heroText p {
  font-size: 18px;
  opacity: 0.9;
}

.cta {
  margin-top: 20px;
  padding: 14px 32px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.cta:hover {
  transform: scale(1.04);
}

/* IMAGEM */
.heroImg img {
  width: 500px;
  height: auto;
}

/* SECTIONS */
.section {
  text-align: center;
}

.section h2 {
  font-size: 28px;
  margin-bottom: 40px;
}

/* STEPS */
.steps {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card {
  background: white;
  color: #333;
  padding: 20px;
  width: 220px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 40px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.04 );
}
.card span {
  font-size: 32px;
}

/* DISPONIBILIDADES */
.availability {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px; 
}

.availCard,
.availCardDark {
  padding: 25px 40px;
  border-radius: 16px;
  background: white;
  color: #333;
}

.availCardDark {
  background: #123a7c;
  color: white;
}

.secondaryBtn {
  padding: 14px 28px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  margin-bottom: 40px;
}
.subtext {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;
}
.linha {
  width: 100px;
  border: 1px solid;
  margin-top: -36px;
}
.rdp-day[data-weekday="0"] {
  color: red;
}

/* Sábados */
.rdp-day[data-weekday="6"] {
  color: blue;
}