
.background {
    background: 
    radial-gradient(circle at 30% 30%, rgba(37, 99, 235, 0.4), transparent 70%),
    radial-gradient(circle at 70% 70%, rgba(30, 64, 175, 0.5), transparent 70%),
    linear-gradient(135deg, #2563EB 0%, #1E40AF 100%);
    min-height: 80vh
}
.dados {
  background: #060c2e;
  color: #cfd6ff;
  padding: 20px;
  text-align: center;
  min-height: 20vh;
}
.nav {
  width: 100%;
  width: 100%;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: bold;
}
.links_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.items {
  text-decoration: none;
  color: white
}
.lista {
  list-style-type: none;
}
